* {
	box-sizing: border-box;}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

section {
	float: left;
    width: 100%;
    overflow: hidden;
}
	
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFD600;
    color: #000;

    &.open-menu {
        overflow: hidden;
    }
}
	
a {}

a:hover {}

.wrapper {
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 1360px) {
        max-width: 1170px;
    }

    @media (max-width: 1280px) {
        max-width: 860px;
    }

    @media (max-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

header {
    float: left;
    width: 100%;
    background-color: #000;
    height: 102px;

    @media (max-width: 767px) {
        height: auto;
    }

    .container {
        @media (min-width: 1680px) {
            padding: 0 134px 0 174px;
            max-width: 100%;
            max-width: 1903px;
        }
    }
}

.header-inside {
    float: left;
    width: 100%;
}

.logo {
    float: left;
    margin-top: 32px;

    @media (max-width: 1023px) {
        margin-left: 22px;
    }

    @media (max-width: 767px) {
        margin-left: 7px;
    }
}

.header-right {
    float: right;
    margin-top: 37px;

    @media (max-width: 1024px) {
        float: none;
        padding-left: 140px;
        padding-right: 50px;
        text-align: center;
    }

    @media (max-width: 767px) {
        float: left;
        width: 100vw;
        margin-left: -30px;
        padding: 0;
        background-color: #363636;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
}

.header-phone {
    float: left;
    margin-left: 55px;

    @media (max-width: 1024px) {
        margin: 0 18px;
        float: none;
        display: inline-block;
        text-align: left;
    }
    
    @media (max-width: 767px) {
        margin: 10px 0;
        text-align: left;
    }

    a {
        display: block;
        cursor: pointer;
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;

        @media (max-width: 767px) {
            font-size: 18px;
        }

        &:hover {
            color: #FFD600;
        }

        
    }

    i {
        font-style: normal;

        &.hide-mob {
            @media (max-width: 767px) {
                display: none;
            }
        }

        &.show-mob {
            display: none;

            @media (max-width: 767px) {
                display: inline;
            }
        }
    }
    
    span {
        display: block;
        color: #FF0000;
        font-size: 14px;

        @media (max-width: 767px) {
            font-size: 12px;
            text-align: left;
        }
    }
}

.show-hide {
    display: none;

    @media (max-width: 1280px) {
        display: block;
        width: 50px;
        position: absolute;
        padding: 40px 10px;
        right: 20px;
        cursor: pointer;

        span {
            height: 3px;
            display: block;
            width: 100%;
            background-color: #fff;
            float: left;
            margin: 3px 0 2px;
        }
    }

    @media(max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
        width: 30px;
    }
}

.navi {
    padding: 42px 530px 0 140px;
    text-align: center;

    .close-menu {
        display: none;
    }

    @media (max-width: 1280px) {
        padding: 0;
        background-color: rgba(0,0,0,0.7);
        position: fixed;
        top: 0;
        right: 0;
        width: 355px;
        height: 100%;
        padding: 94px 30px 0 80px;
        z-index: 999;
        display: none;

        .close-menu {
            display: block;
            position: absolute;
            width: 110px;
            top: 0;
            right: 0;
            padding: 35px 35px 0;
            cursor: pointer;
        }

        nav {
            width: 100%;
            text-align: left;
        }
    }

    @media (max-width: 767px) {
        width: 100%;
    }

    nav {
        display: inline-block;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                float: left;
                margin: 0 15px;
                @media (max-width: 1280px) {
                    margin: 0 0 20px 0;
                    display: block;
                    width: 100%;
                }

                &.show-mob {
                    display: none;

                    @media (max-width: 1280px) {
                        display: block;
                    }
                }
                a {
                    font-size: 22px;
                    font-weight: 300;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all 0.3s;

                    @media (max-width: 1280px) {
                        font-size: 28px;
                    }

                    &.active {
                        color: #FFD600;
                    }

                    &:hover {
                        color: #FFD600;
                    }
                }
            }
        }
    }
}

#hero {
    @media (max-width: 1024px) {
        display: none;
    }
}

.hero-wrap {
    float: left;
    width: 100%;
    background: url(./images/header-bg.jpg) center center no-repeat;
    background-size: auto 280px;
    margin-bottom: 31px;
    background-size: cover;

    .container {

        @media (min-width: 1680px) {
            padding: 0 134px 0 174px;
            max-width: 100%;
            max-width: 1903px;
        }
    }
}

.hero-in {
    height: 280px;
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    float: left;
    flex-wrap: wrap;
    color: #fff;
}

.hero-tit {
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 31px;
    width: 100%;

    @media (max-width: 1280px) {
        font-size: 32px;
        margin-bottom: 23px;
    }
}

.hero-logo {
    @media (max-width: 1280px) {
        margin-bottom: 30px;
    }
}

.why-we {
    float: left;
    width: 100%;
    margin-bottom: 100px;   
    
    @media (max-width: 1360px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1280px) {
        margin-bottom: 20px;
    }
}

.why-we-in {
    position: relative;
    float: left;
    width: 100%;
}

.one-why-we {
    float: left;
    margin-right: 32px;

    @media (max-width: 1360px) {
        margin-right: 18px;
    }

    @media (max-width: 1280px) {
        display: none;
    }
}

.car-hero {
    position: absolute;
    bottom: -40px;
    right: -20px;

    @media (max-width: 1360px) {
        right: -50px;
        bottom: -15px;
    }

    @media (max-width: 1280px) {
        bottom: 0;
        right: -84px;
    }
}

#car-price {
    @media (max-width: 1024px) {
        padding-top: 32px;
    }

    .container {
        @media (max-width: 767px) {
            padding: 0;
        }
    }

    .section-tit {
        @media (max-width: 767px) {
            padding: 0 20px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.section-tit {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 31px;

    @media (max-width: 1280px) {
        margin-bottom: 15px;
    }

    h3 {
        font-size: 42px;
        font-weight: 300;
        margin: 0 0 9px;

        @media (max-width: 767px) {
            font-size: 26px;
            font-weight: normal;
        }
    }

    @media (max-width: 767px) {        
        border-bottom: 1px solid #9C9C9C;
        padding-bottom: 15px !important;
        margin-bottom: -1px;
        width: 100vw;
        margin-left: -30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.sub-tit {
    font-size: 22px;
    font-weight: 300;
    
    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.car-price {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 65px;

    @media (max-width: 1280px) {
        margin-bottom: 65px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }

    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.car-price-wrap {
    @media (max-width: 1280px) {
        margin: 0 -50px;
    }

    @media (max-width: 1024px) {
        margin: 0;
    }
}

.one-car-price {
    text-align: left;
    display: inline-block;
    margin: 0 14px 35px;
    width: 303px;
    background: linear-gradient(180deg, #000000 0%, #9C9C9C 100%);

    @media (max-width: 1280px) {
        margin: 0 1px 12px;
    }

    @media (max-width: 767px) {
        width: 100%;
        border-top: 1px solid #9C9C9C;
        padding: 20px;
        background: none;
        margin: 0;

        &:last-child {
            border-bottom: 1px solid #9C9C9C;
        }
    }
}

@media (min-width: 767px) {
    .webp {
        .one-car-price {    
            &.car-optima {
                .one-car-in {
                    background-image: url(./images/cards/WebP/optima.webp);
                }
            }
        
            &.car-solaris {
                .one-car-in {
                    background-image: url(./images/cards/WebP/solaris.webp);
                }
            }
        
            &.car-octavia {
                .one-car-in {
                    background-image: url(./images/cards/WebP/oktavia.webp);
                }
            }
        
            &.car-rio {
                .one-car-in {
                    background-image: url(./images/cards/WebP/rio.webp);
                }
            }
        
            &.car-e {
                .one-car-in {
                    background-image: url(./images/cards/WebP/e.webp);
                }
            }
        
            &.car-v {
                .one-car-in {
                    background-image: url(./images/cards/WebP/v.webp);
                }
            }
        }
    }

    .no-webp {
        .one-car-price {    
            &.car-optima {
                .one-car-in {
                    background-image: url(./images/cards/optima.png);
                }
            }
        
            &.car-solaris {
                .one-car-in {
                    background-image: url(./images/cards/solaris.png);
                }
            }
        
            &.car-octavia {
                .one-car-in {
                    background-image: url(./images/cards/oktavia.png);
                }
            }
        
            &.car-rio {
                .one-car-in {
                    background-image: url(./images/cards/rio.png);
                }
            }
        
            &.car-e {
                .one-car-in {
                    background-image: url(./images/cards/e.png);
                }
            }
        
            &.car-v {
                .one-car-in {
                    background-image: url(./images/cards/v.png);
                }
            }
        }
    }

    
}

.one-car-in {
    height: 365px;
    position: relative;
    color: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left bottom 100px;

    @media (max-width: 767px) {
        color: #000;
        height: auto;
        float: left;
        width: 100%;
    }

    @media (min-width: 767px) {
        &:before {
            content: '';
            width: 80px;
            height: 80px;
            position: absolute;
            right: -40px;
            bottom: -40px;
            background-color: #FFD600;
            transform: rotate(45deg);
            
        }
    }
}

.one-car-top {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    line-height: 1.05;

    @media (max-width: 767px) {
        position: static;
        margin-bottom: 10px;
    }
}

.one-car-tit {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 6px;

    @media (max-width: 767px) {
        font-size: 24px;
        font-weight: normal;
        br {
            display: none;
        }
    }
}

.one-car-class {
    font-size: 20px;
    font-weight: 300;
}

.car-this-price {
    position: absolute;
    bottom: 55px;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;

    @media (max-width: 767px) {
        position: static;
        float: left;
        width: 100%;
    }
}

.one-car-price-name {
    width: 142px;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    float: left;
    line-height: 0.9;
    margin-top: 6px;

    @media (max-width: 767px) {
        float: left;
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;

        br {
            display: none;
        }
    }
}

.one-price-val {
    float: left;
    margin-left: 10px;
    font-size: 30px;

    @media (max-width: 767px) {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 0 7px;
    }
}

.order-car {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    bottom: 22px;
    right: 27px;
    left: 0;
    text-align: center;

    @media (max-width: 767px) {
        position: static;
        float: left;
        width: 100%;
    }

    a {
        color: #FFD600;
        text-decoration: none;
        font-size: 20px;

        @media (max-width: 767px) {
            display: inline-block;
            background-color: #000;
            padding: 2px 5px;
            color: #fff;
        }
    }
}

#service {
    margin-bottom: 50px;

    @media(max-width: 1023px) {
        .container {
            text-align: center;
        }
    }

    @media (max-width: 767px) {
        border-bottom: 1px solid #9C9C9C;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
}

.serv-in-wrap {
    @media(max-width: 1280px) {
        margin: 0 -15px;
    }

    @media(max-width: 1023px) and (min-width: 767px) {
        margin: 0;
        width: 716px;
        float: none;
        display: inline-block;
    }
}

.service-in {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 50px;

    @media (max-width: 1280px) {
        padding: 30px 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    
}

.one-serv {
    width: 260px;
    margin: 0 20px 40px;
    position: relative;
    overflow: hidden;
    display: inline-block;

    @media (max-width: 1280px) {
        margin: 0 0 40px;
    }

    @media (max-width: 1023px) {
        width: 212px;
    }
    
    @media (max-width: 767px) {
        margin: 0 0 20px;
        width: 100%;
    }

    @media (min-width: 767px) {
        &:before {
            content: '';
            width: 80px;
            height: 80px;
            position: absolute;
            right: -40px;
            bottom: -40px;
            margin: 0 -8px -8px 0;
            border: 4px solid #000;
            background-color: #FFD600;
            transform: rotate(45deg);
        }
    }
}

.one-serv-in {
    height: 220px;
    border: 4px solid #000;
    float: left;
    width: 100%;
    padding: 10px 25px 0;

    @media (max-width: 1024px) {
        height: 180px;
        padding: 22px 15px 0;
    }

    @media (max-width: 767px) {
        border: none;
        padding: 0px 28px 0 50px;
        height: auto;
        text-align: left;
    }
}

.one-serv-thumb {
    float: left;
    width: 100%;
    height: 108px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
        height: 65px;
        margin-bottom: 14px;

        svg {
            max-height: 65px;
        }
    }

    @media (max-width: 767px) {
        width: 40px;
        height: 40px;
    }

    span {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 900;
        font-size: 83px;

        @media (max-width: 767px) {
            font-size: 53px;
        }

        i {
            font-style: normal;
            font-weight: normal;
            font-size: 63px;

            @media (max-width: 767px) {
                font-size: 34px;
            }
        }
    }
}

.one-serv-descr {
    float: left;
    width: 100%;
    text-align: center;

    @media (max-width: 767px) {
        padding-left: 60px;
        float: none;
        width: auto;
        text-align: left;
        font-weight: 300;
    }
}

.one-serv-tit {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    @media (max-width: 1024px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }

    @media (max-width: 767px) {
        font-weight: 300;
        font-size: 20px;
        text-transform: none;
    }
}

#requir {
    margin-bottom: 90px;

    @media (max-width: 1280px) {
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {
        display: none;
    }

    

    @media(max-width: 1023px) {
        .container {
            text-align: center;
        }
    }
}

.requir-in {
    float: left;
    width: 100%;
    padding: 0 50px;
    text-align: center;

    @media (max-width: 1280px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media (max-width: 1280px) {
        padding: 0;
    }
}

#contact-map {
    margin-bottom: 150px; 

    @media (max-width: 1280px) {
        margin-bottom: 50px;
    }

    @media (max-width: 767px) {
        h3 {
            margin-bottom: 45px;
        }
    }
}

.map-in {
    float: left;
    width: 100%;
    margin-bottom: 28px;

    @media (max-width: 767px) {
        display: none;
    }
}

#map {
    height: 520px;
    float: left;
    width: 100%;

    @media (max-width: 1280px) {
        height: 396px;
    }
}

.map-cont {
    font-size: 22px;
    text-align: center;
    float: left;
    width: 100%;

    @media (max-width: 767px) {
        display: none;
    }
}

footer {
    float: left;
    width: 100%;
    border-top: 40px solid #363636;
    background-color: #000;
    padding: 38px 0 30px;

    @media (max-width: 767px) {
        border-top-width: 20px;
    }

    .container {
        @media (min-width: 1680px) {
            padding: 0 134px 0 174px;
            max-width: 100%;
            max-width: 1903px;
        }
    }
}

.footer-in {
    color: #fff;

    @media (max-width: 767px) {
        text-align: center;
    }
}

.footer-left {
    float: left;

    @media (max-width: 767px) {
        display: none;
    }
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-soc {
    margin-bottom: 23px;

    ul {
        display: flex;
        align-content: center;
        align-items: center;

        li {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;

            @media (max-width: 1280px) {
                margin-right: 7px;
            }
        }
    }
}

.footer-bot {
    float: left;
    width: 100%;

    @media (max-width: 1360px) {
        padding-top: 5px;
        float: left;
        width: auto;
        margin-left: 35px;
    }

    @media (max-width: 1024px) {
        padding-top: 0;
    }

    @media (max-width: 767px) {
        float: none;
        width: 220px;
        margin: 0;
        display: inline-block;
        text-align: left;
    }
}

.mob-foot-link {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        margin-bottom: 10px;

        a {
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            font-weight: 300;
        }
    }
}

.copy {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 7px;

    @media (max-width: 767px) {
        display: none;
    }
}

.made {
    a {
        color: #9C9C9C;
        font-weight: 300;
        font-size: 14px;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            color: #FFD600;
        }
    }

    @media (max-width: 767px) {
        display: inline-block;
        width: 220px;
        text-align: left;
    }
}

.footer-right {
    float: right;

    @media (max-width: 1280px) {
        float: none;
        padding-left: 170px;
    }

    @media (max-width: 767px) {
        padding-left: 0;
        text-align: center;
    }
}

.footer-phone {
    float: right;

    @media (max-width: 1024px) {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 47px;
    }

    @media (max-width: 767px) {
        display: inline-block;
        width: 220px;
        float: none;
        text-align: left;
        margin-bottom: 0;
    }
}

.one-foot-phone {
    float: left;
    margin-left: 40px;

    @media (max-width: 1280px) {
        margin-left: 25px;
        &:first-child {
            margin-left: 0;
        }
    }
    
    @media (max-width: 1024px) {
        margin-left: 0;
    }

    @media (max-width: 767px) {
        float: none;
        display: block;
        margin-bottom: 30px;
    }

    a {
        display: block;
        font-size: 28px;
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-bottom: 10px;
        transition: all 0.3s;

        @media (max-width: 1280px) {
            font-size: 24px;
        }

        &:hover {
            color: #FFD600;
        }
    }

    span {
        display: block;
        font-size: 18px;
        line-height: 21px;
        color: #FFD600;
        font-weight: 300;

        @media (max-width: 1280px) {
            font-size: 14px;
        }
    }
}

.footer-mob-cont {
    display: none;
}

.footer-cont, .footer-mob-cont {
    float: left;
    font-size: 18px;
    font-weight: 300;
    font-size: 18px;

    @media (max-width: 1280px) {
        font-size: 14px;
    }

    @media (max-width: 1024px) {
        display: none;
    }

    ul {
        li {
            margin-bottom: 7px;
            &.top-adr {
                margin-bottom: 12px;
            }

            a {
                font-size: 18px;
                color: #fff;
                text-decoration: none;
                transition: all 0.3s;

                @media (max-width: 1280px) {
                    font-size: 14px;
                }

                &.pol {
                    font-size: 16px;

                    @media (max-width: 1280px) {
                        font-size: 14px;
                    }
                }

                &:hover {
                    color: #FFD600;
                }
            }
        }
    }
}

.footer-mob-cont {
    @media (max-width: 1024px) {
        display: block;
        float: left;
    }

    @media (max-width: 767px) {
        width: 220px;
        float: none;
        display: inline-block;
        text-align: left;
    }
}

#hero-inside {
    float: left;
    width: 100%;
    background: url(./images/header-bg.jpg) top center no-repeat;
    background-size: auto 280px;
    margin-bottom: 31px;
    background-size: cover;

    @media (max-width: 1280px) {
        display: none;
    }
}

.hero-top-tit {
    min-height: 102px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    font-weight: 200;
    font-size: 38px;
    line-height: 45px;
    color: #fff;
    text-align: center;
}

main {
    float: left;
    width: 100%;
    min-height: calc(100vh - 372px);

    @media (max-width: 1280px) {
        padding-top: 35px;
    }

    @media (max-width: 767px) {
        padding-top: 25px;

        .container {
            padding: 0;
        }
    }

    h1 {
        font-weight: 300;
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        margin-bottom: 50px;

        @media (max-width: 1280px) {
            margin-bottom: 38px;
        }

        @media (max-width: 767px) {
            font-size: 26px;
            margin-bottom: 32px;
            line-height: 1.3;
            padding: 0 20px;
        }
    }
}

.news {
    float: left;
    width: 100%;
    &-in {
        margin: 0 auto;
        max-width: 958px;
        width: 100%;

        @media (max-width: 1280px) {
            max-width: 100%;
        }

        @media (max-width: 1023px) {
            padding: 0 50px;
        }

        @media (max-width: 767px) {
            padding: 0px;
        }
    }
}

.one-news {
    float: left;
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: 1280px) {
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {
        padding: 0 56px 30px;
        border-bottom: 1px solid #9C9C9C;
        margin-bottom: 25px;

        &:last-child {
            padding-bottom: 0;
            border: none;
        }
    }
}

.one-news-thumb {
    width: 320px;
    float: left;
    padding-top: 3px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.one-news-descr {
    padding-left: 357px;

    @media (max-width: 1023px) {
        padding-left: 0;
    }
}

.one-news-tit {
    a {
        font-weight: 300;
        font-size: 30px;
        color: #000;
        text-decoration: none;
        line-height: 1.05;

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 767px) {
            font-size: 24px;
            font-weight: 300;
        }
    }
    margin-bottom: 8px;
}

.one-news-date {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 21px;

    @media (max-width: 1280px) {
        font-size: 13px;
    }
}

.one-news-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.05;
}

.pagi {
    float: left;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 90px;
    
    @media (max-width: 767px) {
        display: none;
    }

    ul {
        display: inline-block;

        li {
            float: left;
            margin: 0 5px;

            &.active {
                a {
                    color: #FF0000;
                }
            }

            a {
                font-size: 22px;
                font-weight: 300;
                line-height: 1.05;
                color: #000;
                text-decoration: none;
                transition: all 0.3s;

                &:hover {
                    color: #FF0000;
                }
            }
        }
    }
}

.single {
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 300;

    @media (max-width: 767px) {
        padding-left: 60px;
        padding-right: 60px;
        text-align: left;
        padding-bottom: 30px;
    }

    img {
        margin: 0 0 20px;
        @media (max-width: 1023px) {
            display: none;
        }
    }
    &-in {
        margin: 0 auto;
        max-width: 958px;
        width: 100%;
    }

    p {
        margin-bottom: 20px;

        b {
            font-weight: 900;
        }
    }
}

.single-date {
    float: left;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin-top: -20px;

    @media (max-width: 1023px) {
        margin: 0 0 30px;
    }
}

.go-back {
    float: left;
    width: 100%;
    margin: 50px 0 75px;

    @media (max-width: 1023px) {
        margin: 20px 0 30px;
    }

    @media (max-width: 767px) {
        display: none;
    }

    a {
        font-size: 18px;
        font-weight: 300;
        color: #000;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.broad {
    float: left;
    width: 100%;
    margin-bottom: 14px;
    text-align: center;

    @media (max-width: 1023px) {
        margin-bottom: 50px;
    }

    @media (max-width: 767px) {
        display: none;
    }

    ul {
        display: inline-block;

        li {
            float: left;
            margin-right: 8px;
            font-size: 18px;

            @media (max-width: 1023px) {
                display: inline;
                float: none;
            }
            a {
                text-decoration: none;
                font-weight: 300;
                color: #000;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.pop-body {
    display: none;
}

#thank {
    display: none;
}

.pop-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.pop-form {
    width: 340px;
    position: relative;
}

.pop-form-top {
    float: left;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #000;
    line-height: 60px;
    font-family: 'Roboto Condensed', sans-serif;
}

.pop-form-close {
    position: absolute;
    height: 60px;
    width: 60px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 0;
    top: 0;

}

.pop-form-wrap {
    float: left;
    width: 100%;
    padding: 20px 40px;
    background-color: #fff;
}

.pop-form-one {
    float: left;
    width: 100%;
    margin-bottom: 16px;
}

.pop-form-name {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto Condensed', sans-serif;
}

.pop-form-inp {
    input {
        padding: 0 20px;
        border: 1px solid #FFD600;
        height: 22px;
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Roboto Condensed', sans-serif;
    }

    textarea {
        padding: 8px 20px;
        border: 1px solid #FFD600;
        height: 60px;
        resize: none;
        width: 100%;
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
}

.one-check {
    float: left;
    width: 100%;
    padding-left: 40px;
    position: relative;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;

    a {
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }

    label {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        overflow: hidden;
        width: 20px;
        height: 20px;
        input {
            position: absolute;
            left: -999px;

            &:checked + i {
                background-color: #000;

                &:after {
                    content: '';
                    width: 4px;
                    height: 8px;
                    border-bottom: 2px solid #FFD600;
                    border-right: 2px solid #FFD600;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -6px 0 0 -3px;
                    transform: rotate(45deg);
                }
            }
        }

        i {
            display: block;
            cursor: pointer;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border: 1px solid #FFD600;
        }
    }
}

.pop-form-send {
    float: left;
    width: 100%;
    text-align: center;
    button {
        border: none;
        background-color: #000;
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        padding: 3px 8px;
        display: inline-block;
        cursor: pointer;
    }
}

.thank {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}





	/*

  {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -4px;
	border: none;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
	*/