* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

section {
  float: left;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFD600;
  color: #000;
}
body.open-menu {
  overflow: hidden;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1360px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 860px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

header {
  float: left;
  width: 100%;
  background-color: #000;
  height: 102px;
}
@media (max-width: 767px) {
  header {
    height: auto;
  }
}
@media (min-width: 1680px) {
  header .container {
    padding: 0 134px 0 174px;
    max-width: 100%;
    max-width: 1903px;
  }
}

.header-inside {
  float: left;
  width: 100%;
}

.logo {
  float: left;
  margin-top: 32px;
}
@media (max-width: 1023px) {
  .logo {
    margin-left: 22px;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-left: 7px;
  }
}

.header-right {
  float: right;
  margin-top: 37px;
}
@media (max-width: 1024px) {
  .header-right {
    float: none;
    padding-left: 140px;
    padding-right: 50px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header-right {
    float: left;
    width: 100vw;
    margin-left: -30px;
    padding: 0;
    background-color: #363636;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
  }
}

.header-phone {
  float: left;
  margin-left: 55px;
}
@media (max-width: 1024px) {
  .header-phone {
    margin: 0 18px;
    float: none;
    display: inline-block;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .header-phone {
    margin: 10px 0;
    text-align: left;
  }
}
.header-phone a {
  display: block;
  cursor: pointer;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .header-phone a {
    font-size: 18px;
  }
}
.header-phone a:hover {
  color: #FFD600;
}
.header-phone i {
  font-style: normal;
}
@media (max-width: 767px) {
  .header-phone i.hide-mob {
    display: none;
  }
}
.header-phone i.show-mob {
  display: none;
}
@media (max-width: 767px) {
  .header-phone i.show-mob {
    display: inline;
  }
}
.header-phone span {
  display: block;
  color: #FF0000;
  font-size: 14px;
}
@media (max-width: 767px) {
  .header-phone span {
    font-size: 12px;
    text-align: left;
  }
}

.show-hide {
  display: none;
}
@media (max-width: 1280px) {
  .show-hide {
    display: block;
    width: 50px;
    position: absolute;
    padding: 40px 10px;
    right: 20px;
    cursor: pointer;
  }
  .show-hide span {
    height: 3px;
    display: block;
    width: 100%;
    background-color: #fff;
    float: left;
    margin: 3px 0 2px;
  }
}
@media (max-width: 767px) {
  .show-hide {
    padding-left: 0;
    padding-right: 0;
    width: 30px;
  }
}

.navi {
  padding: 42px 530px 0 140px;
  text-align: center;
}
.navi .close-menu {
  display: none;
}
@media (max-width: 1280px) {
  .navi {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    width: 355px;
    height: 100%;
    padding: 94px 30px 0 80px;
    z-index: 999;
    display: none;
  }
  .navi .close-menu {
    display: block;
    position: absolute;
    width: 110px;
    top: 0;
    right: 0;
    padding: 35px 35px 0;
    cursor: pointer;
  }
  .navi nav {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .navi {
    width: 100%;
  }
}
.navi nav {
  display: inline-block;
}
.navi nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navi nav ul li {
  float: left;
  margin: 0 15px;
}
@media (max-width: 1280px) {
  .navi nav ul li {
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
  }
}
.navi nav ul li.show-mob {
  display: none;
}
@media (max-width: 1280px) {
  .navi nav ul li.show-mob {
    display: block;
  }
}
.navi nav ul li a {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .navi nav ul li a {
    font-size: 28px;
  }
}
.navi nav ul li a.active {
  color: #FFD600;
}
.navi nav ul li a:hover {
  color: #FFD600;
}

@media (max-width: 1024px) {
  #hero {
    display: none;
  }
}

.hero-wrap {
  float: left;
  width: 100%;
  background: url(./images/header-bg.jpg) center center no-repeat;
  background-size: auto 280px;
  margin-bottom: 31px;
  background-size: cover;
}
@media (min-width: 1680px) {
  .hero-wrap .container {
    padding: 0 134px 0 174px;
    max-width: 100%;
    max-width: 1903px;
  }
}

.hero-in {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  float: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.hero-tit {
  font-size: 42px;
  font-weight: 100;
  margin-bottom: 31px;
  width: 100%;
}
@media (max-width: 1280px) {
  .hero-tit {
    font-size: 32px;
    margin-bottom: 23px;
  }
}

@media (max-width: 1280px) {
  .hero-logo {
    margin-bottom: 30px;
  }
}

.why-we {
  float: left;
  width: 100%;
  margin-bottom: 100px;
}
@media (max-width: 1360px) {
  .why-we {
    margin-bottom: 80px;
  }
}
@media (max-width: 1280px) {
  .why-we {
    margin-bottom: 20px;
  }
}

.why-we-in {
  position: relative;
  float: left;
  width: 100%;
}

.one-why-we {
  float: left;
  margin-right: 32px;
}
@media (max-width: 1360px) {
  .one-why-we {
    margin-right: 18px;
  }
}
@media (max-width: 1280px) {
  .one-why-we {
    display: none;
  }
}

.car-hero {
  position: absolute;
  bottom: -40px;
  right: -20px;
}
@media (max-width: 1360px) {
  .car-hero {
    right: -50px;
    bottom: -15px;
  }
}
@media (max-width: 1280px) {
  .car-hero {
    bottom: 0;
    right: -84px;
  }
}

@media (max-width: 1024px) {
  #car-price {
    padding-top: 32px;
  }
}
@media (max-width: 767px) {
  #car-price .container {
    padding: 0;
  }
}
@media (max-width: 767px) {
  #car-price .section-tit {
    padding: 0 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

.section-tit {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 31px;
}
@media (max-width: 1280px) {
  .section-tit {
    margin-bottom: 15px;
  }
}
.section-tit h3 {
  font-size: 42px;
  font-weight: 300;
  margin: 0 0 9px;
}
@media (max-width: 767px) {
  .section-tit h3 {
    font-size: 26px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .section-tit {
    border-bottom: 1px solid #9C9C9C;
    padding-bottom: 15px !important;
    margin-bottom: -1px;
    width: 100vw;
    margin-left: -30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sub-tit {
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .sub-tit {
    font-size: 20px;
  }
}

.car-price {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 65px;
}
@media (max-width: 1280px) {
  .car-price {
    margin-bottom: 65px;
  }
}
@media (max-width: 1024px) {
  .car-price {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .car-price {
    margin-bottom: 30px;
  }
}

@media (max-width: 1280px) {
  .car-price-wrap {
    margin: 0 -50px;
  }
}
@media (max-width: 1024px) {
  .car-price-wrap {
    margin: 0;
  }
}

.one-car-price {
  text-align: left;
  display: inline-block;
  margin: 0 14px 35px;
  width: 303px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#9C9C9C));
  background: linear-gradient(180deg, #000000 0%, #9C9C9C 100%);
}
@media (max-width: 1280px) {
  .one-car-price {
    margin: 0 1px 12px;
  }
}
@media (max-width: 767px) {
  .one-car-price {
    width: 100%;
    border-top: 1px solid #9C9C9C;
    padding: 20px;
    background: none;
    margin: 0;
  }
  .one-car-price:last-child {
    border-bottom: 1px solid #9C9C9C;
  }
}

@media (min-width: 767px) {
  .webp .one-car-price.car-optima .one-car-in {
    background-image: url(./images/cards/WebP/optima.webp);
  }
  .webp .one-car-price.car-solaris .one-car-in {
    background-image: url(./images/cards/WebP/solaris.webp);
  }
  .webp .one-car-price.car-octavia .one-car-in {
    background-image: url(./images/cards/WebP/oktavia.webp);
  }
  .webp .one-car-price.car-rio .one-car-in {
    background-image: url(./images/cards/WebP/rio.webp);
  }
  .webp .one-car-price.car-e .one-car-in {
    background-image: url(./images/cards/WebP/e.webp);
  }
  .webp .one-car-price.car-v .one-car-in {
    background-image: url(./images/cards/WebP/v.webp);
  }

  .no-webp .one-car-price.car-optima .one-car-in {
    background-image: url(./images/cards/optima.png);
  }
  .no-webp .one-car-price.car-solaris .one-car-in {
    background-image: url(./images/cards/solaris.png);
  }
  .no-webp .one-car-price.car-octavia .one-car-in {
    background-image: url(./images/cards/oktavia.png);
  }
  .no-webp .one-car-price.car-rio .one-car-in {
    background-image: url(./images/cards/rio.png);
  }
  .no-webp .one-car-price.car-e .one-car-in {
    background-image: url(./images/cards/e.png);
  }
  .no-webp .one-car-price.car-v .one-car-in {
    background-image: url(./images/cards/v.png);
  }
}
.one-car-in {
  height: 365px;
  position: relative;
  color: #fff;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left bottom 100px;
}
@media (max-width: 767px) {
  .one-car-in {
    color: #000;
    height: auto;
    float: left;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .one-car-in:before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    right: -40px;
    bottom: -40px;
    background-color: #FFD600;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.one-car-top {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
  line-height: 1.05;
}
@media (max-width: 767px) {
  .one-car-top {
    position: static;
    margin-bottom: 10px;
  }
}

.one-car-tit {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .one-car-tit {
    font-size: 24px;
    font-weight: normal;
  }
  .one-car-tit br {
    display: none;
  }
}

.one-car-class {
  font-size: 20px;
  font-weight: 300;
}

.car-this-price {
  position: absolute;
  bottom: 55px;
  left: 0;
  font-family: "Roboto Condensed", sans-serif;
}
@media (max-width: 767px) {
  .car-this-price {
    position: static;
    float: left;
    width: 100%;
  }
}

.one-car-price-name {
  width: 142px;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  float: left;
  line-height: 0.9;
  margin-top: 6px;
}
@media (max-width: 767px) {
  .one-car-price-name {
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .one-car-price-name br {
    display: none;
  }
}

.one-price-val {
  float: left;
  margin-left: 10px;
  font-size: 30px;
}
@media (max-width: 767px) {
  .one-price-val {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 7px;
  }
}

.order-car {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  bottom: 22px;
  right: 27px;
  left: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .order-car {
    position: static;
    float: left;
    width: 100%;
  }
}
.order-car a {
  color: #FFD600;
  text-decoration: none;
  font-size: 20px;
}
@media (max-width: 767px) {
  .order-car a {
    display: inline-block;
    background-color: #000;
    padding: 2px 5px;
    color: #fff;
  }
}

#service {
  margin-bottom: 50px;
}
@media (max-width: 1023px) {
  #service .container {
    text-align: center;
  }
}
@media (max-width: 767px) {
  #service {
    border-bottom: 1px solid #9C9C9C;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1280px) {
  .serv-in-wrap {
    margin: 0 -15px;
  }
}
@media (max-width: 1023px) and (min-width: 767px) {
  .serv-in-wrap {
    margin: 0;
    width: 716px;
    float: none;
    display: inline-block;
  }
}

.service-in {
  float: left;
  width: 100%;
  text-align: center;
  padding: 0 50px;
}
@media (max-width: 1280px) {
  .service-in {
    padding: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.one-serv {
  width: 260px;
  margin: 0 20px 40px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
@media (max-width: 1280px) {
  .one-serv {
    margin: 0 0 40px;
  }
}
@media (max-width: 1023px) {
  .one-serv {
    width: 212px;
  }
}
@media (max-width: 767px) {
  .one-serv {
    margin: 0 0 20px;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .one-serv:before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    right: -40px;
    bottom: -40px;
    margin: 0 -8px -8px 0;
    border: 4px solid #000;
    background-color: #FFD600;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.one-serv-in {
  height: 220px;
  border: 4px solid #000;
  float: left;
  width: 100%;
  padding: 10px 25px 0;
}
@media (max-width: 1024px) {
  .one-serv-in {
    height: 180px;
    padding: 22px 15px 0;
  }
}
@media (max-width: 767px) {
  .one-serv-in {
    border: none;
    padding: 0px 28px 0 50px;
    height: auto;
    text-align: left;
  }
}

.one-serv-thumb {
  float: left;
  width: 100%;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .one-serv-thumb {
    height: 65px;
    margin-bottom: 14px;
  }
  .one-serv-thumb svg {
    max-height: 65px;
  }
}
@media (max-width: 767px) {
  .one-serv-thumb {
    width: 40px;
    height: 40px;
  }
}
.one-serv-thumb span {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 83px;
}
@media (max-width: 767px) {
  .one-serv-thumb span {
    font-size: 53px;
  }
}
.one-serv-thumb span i {
  font-style: normal;
  font-weight: normal;
  font-size: 63px;
}
@media (max-width: 767px) {
  .one-serv-thumb span i {
    font-size: 34px;
  }
}

.one-serv-descr {
  float: left;
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .one-serv-descr {
    padding-left: 60px;
    float: none;
    width: auto;
    text-align: left;
    font-weight: 300;
  }
}

.one-serv-tit {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .one-serv-tit {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
}
@media (max-width: 767px) {
  .one-serv-tit {
    font-weight: 300;
    font-size: 20px;
    text-transform: none;
  }
}

#requir {
  margin-bottom: 90px;
}
@media (max-width: 1280px) {
  #requir {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  #requir {
    display: none;
  }
}
@media (max-width: 1023px) {
  #requir .container {
    text-align: center;
  }
}

.requir-in {
  float: left;
  width: 100%;
  padding: 0 50px;
  text-align: center;
}
@media (max-width: 1280px) {
  .requir-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1280px) {
  .requir-in {
    padding: 0;
  }
}

#contact-map {
  margin-bottom: 150px;
}
@media (max-width: 1280px) {
  #contact-map {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  #contact-map h3 {
    margin-bottom: 45px;
  }
}

.map-in {
  float: left;
  width: 100%;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .map-in {
    display: none;
  }
}

#map {
  height: 520px;
  float: left;
  width: 100%;
}
@media (max-width: 1280px) {
  #map {
    height: 396px;
  }
}

.map-cont {
  font-size: 22px;
  text-align: center;
  float: left;
  width: 100%;
}
@media (max-width: 767px) {
  .map-cont {
    display: none;
  }
}

footer {
  float: left;
  width: 100%;
  border-top: 40px solid #363636;
  background-color: #000;
  padding: 38px 0 30px;
}
@media (max-width: 767px) {
  footer {
    border-top-width: 20px;
  }
}
@media (min-width: 1680px) {
  footer .container {
    padding: 0 134px 0 174px;
    max-width: 100%;
    max-width: 1903px;
  }
}

.footer-in {
  color: #fff;
}
@media (max-width: 767px) {
  .footer-in {
    text-align: center;
  }
}

.footer-left {
  float: left;
}
@media (max-width: 767px) {
  .footer-left {
    display: none;
  }
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-soc {
  margin-bottom: 23px;
}
.footer-soc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-soc ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
@media (max-width: 1280px) {
  .footer-soc ul li {
    margin-right: 7px;
  }
}

.footer-bot {
  float: left;
  width: 100%;
}
@media (max-width: 1360px) {
  .footer-bot {
    padding-top: 5px;
    float: left;
    width: auto;
    margin-left: 35px;
  }
}
@media (max-width: 1024px) {
  .footer-bot {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .footer-bot {
    float: none;
    width: 220px;
    margin: 0;
    display: inline-block;
    text-align: left;
  }
}

.mob-foot-link {
  display: none;
}
@media (max-width: 1024px) {
  .mob-foot-link {
    display: block;
    margin-bottom: 10px;
  }
  .mob-foot-link a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
  }
}

.copy {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 7px;
}
@media (max-width: 767px) {
  .copy {
    display: none;
  }
}

.made a {
  color: #9C9C9C;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.made a:hover {
  color: #FFD600;
}
@media (max-width: 767px) {
  .made {
    display: inline-block;
    width: 220px;
    text-align: left;
  }
}

.footer-right {
  float: right;
}
@media (max-width: 1280px) {
  .footer-right {
    float: none;
    padding-left: 170px;
  }
}
@media (max-width: 767px) {
  .footer-right {
    padding-left: 0;
    text-align: center;
  }
}

.footer-phone {
  float: right;
}
@media (max-width: 1024px) {
  .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 47px;
  }
}
@media (max-width: 767px) {
  .footer-phone {
    display: inline-block;
    width: 220px;
    float: none;
    text-align: left;
    margin-bottom: 0;
  }
}

.one-foot-phone {
  float: left;
  margin-left: 40px;
}
@media (max-width: 1280px) {
  .one-foot-phone {
    margin-left: 25px;
  }
  .one-foot-phone:first-child {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .one-foot-phone {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .one-foot-phone {
    float: none;
    display: block;
    margin-bottom: 30px;
  }
}
.one-foot-phone a {
  display: block;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .one-foot-phone a {
    font-size: 24px;
  }
}
.one-foot-phone a:hover {
  color: #FFD600;
}
.one-foot-phone span {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #FFD600;
  font-weight: 300;
}
@media (max-width: 1280px) {
  .one-foot-phone span {
    font-size: 14px;
  }
}

.footer-mob-cont {
  display: none;
}

.footer-cont, .footer-mob-cont {
  float: left;
  font-size: 18px;
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 1280px) {
  .footer-cont, .footer-mob-cont {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .footer-cont, .footer-mob-cont {
    display: none;
  }
}
.footer-cont ul li, .footer-mob-cont ul li {
  margin-bottom: 7px;
}
.footer-cont ul li.top-adr, .footer-mob-cont ul li.top-adr {
  margin-bottom: 12px;
}
.footer-cont ul li a, .footer-mob-cont ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .footer-cont ul li a, .footer-mob-cont ul li a {
    font-size: 14px;
  }
}
.footer-cont ul li a.pol, .footer-mob-cont ul li a.pol {
  font-size: 16px;
}
@media (max-width: 1280px) {
  .footer-cont ul li a.pol, .footer-mob-cont ul li a.pol {
    font-size: 14px;
  }
}
.footer-cont ul li a:hover, .footer-mob-cont ul li a:hover {
  color: #FFD600;
}

@media (max-width: 1024px) {
  .footer-mob-cont {
    display: block;
    float: left;
  }
}
@media (max-width: 767px) {
  .footer-mob-cont {
    width: 220px;
    float: none;
    display: inline-block;
    text-align: left;
  }
}

#hero-inside {
  float: left;
  width: 100%;
  background: url(./images/header-bg.jpg) top center no-repeat;
  background-size: auto 280px;
  margin-bottom: 31px;
  background-size: cover;
}
@media (max-width: 1280px) {
  #hero-inside {
    display: none;
  }
}

.hero-top-tit {
  min-height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 100%;
  font-weight: 200;
  font-size: 38px;
  line-height: 45px;
  color: #fff;
  text-align: center;
}

main {
  float: left;
  width: 100%;
  min-height: calc(100vh - 372px);
}
@media (max-width: 1280px) {
  main {
    padding-top: 35px;
  }
}
@media (max-width: 767px) {
  main {
    padding-top: 25px;
  }
  main .container {
    padding: 0;
  }
}
main h1 {
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  main h1 {
    margin-bottom: 38px;
  }
}
@media (max-width: 767px) {
  main h1 {
    font-size: 26px;
    margin-bottom: 32px;
    line-height: 1.3;
    padding: 0 20px;
  }
}

.news {
  float: left;
  width: 100%;
}
.news-in {
  margin: 0 auto;
  max-width: 958px;
  width: 100%;
}
@media (max-width: 1280px) {
  .news-in {
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .news-in {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .news-in {
    padding: 0px;
  }
}

.one-news {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .one-news {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .one-news {
    padding: 0 56px 30px;
    border-bottom: 1px solid #9C9C9C;
    margin-bottom: 25px;
  }
  .one-news:last-child {
    padding-bottom: 0;
    border: none;
  }
}

.one-news-thumb {
  width: 320px;
  float: left;
  padding-top: 3px;
}
@media (max-width: 1023px) {
  .one-news-thumb {
    display: none;
  }
}

.one-news-descr {
  padding-left: 357px;
}
@media (max-width: 1023px) {
  .one-news-descr {
    padding-left: 0;
  }
}

.one-news-tit {
  margin-bottom: 8px;
}
.one-news-tit a {
  font-weight: 300;
  font-size: 30px;
  color: #000;
  text-decoration: none;
  line-height: 1.05;
}
.one-news-tit a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .one-news-tit a {
    font-size: 24px;
    font-weight: 300;
  }
}

.one-news-date {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 21px;
}
@media (max-width: 1280px) {
  .one-news-date {
    font-size: 13px;
  }
}

.one-news-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.05;
}

.pagi {
  float: left;
  width: 100%;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .pagi {
    display: none;
  }
}
.pagi ul {
  display: inline-block;
}
.pagi ul li {
  float: left;
  margin: 0 5px;
}
.pagi ul li.active a {
  color: #FF0000;
}
.pagi ul li a {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.05;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagi ul li a:hover {
  color: #FF0000;
}

.single {
  float: left;
  width: 100%;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 767px) {
  .single {
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
    padding-bottom: 30px;
  }
}
.single img {
  margin: 0 0 20px;
}
@media (max-width: 1023px) {
  .single img {
    display: none;
  }
}
.single-in {
  margin: 0 auto;
  max-width: 958px;
  width: 100%;
}
.single p {
  margin-bottom: 20px;
}
.single p b {
  font-weight: 900;
}

.single-date {
  float: left;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin-top: -20px;
}
@media (max-width: 1023px) {
  .single-date {
    margin: 0 0 30px;
  }
}

.go-back {
  float: left;
  width: 100%;
  margin: 50px 0 75px;
}
@media (max-width: 1023px) {
  .go-back {
    margin: 20px 0 30px;
  }
}
@media (max-width: 767px) {
  .go-back {
    display: none;
  }
}
.go-back a {
  font-size: 18px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
.go-back a:hover {
  text-decoration: underline;
}

.broad {
  float: left;
  width: 100%;
  margin-bottom: 14px;
  text-align: center;
}
@media (max-width: 1023px) {
  .broad {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .broad {
    display: none;
  }
}
.broad ul {
  display: inline-block;
}
.broad ul li {
  float: left;
  margin-right: 8px;
  font-size: 18px;
}
@media (max-width: 1023px) {
  .broad ul li {
    display: inline;
    float: none;
  }
}
.broad ul li a {
  text-decoration: none;
  font-weight: 300;
  color: #000;
}
.broad ul li a:hover {
  text-decoration: underline;
}

.pop-body {
  display: none;
}

#thank {
  display: none;
}

.pop-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-form {
  width: 340px;
  position: relative;
}

.pop-form-top {
  float: left;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: #000;
  line-height: 60px;
  font-family: "Roboto Condensed", sans-serif;
}

.pop-form-close {
  position: absolute;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  right: 0;
  top: 0;
}

.pop-form-wrap {
  float: left;
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
}

.pop-form-one {
  float: left;
  width: 100%;
  margin-bottom: 16px;
}

.pop-form-name {
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto Condensed", sans-serif;
}

.pop-form-inp input {
  padding: 0 20px;
  border: 1px solid #FFD600;
  height: 22px;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
}
.pop-form-inp textarea {
  padding: 8px 20px;
  border: 1px solid #FFD600;
  height: 60px;
  resize: none;
  width: 100%;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.one-check {
  float: left;
  width: 100%;
  padding-left: 40px;
  position: relative;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}
.one-check a {
  color: #000;
}
.one-check a:hover {
  text-decoration: none;
}
.one-check label {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
.one-check label input {
  position: absolute;
  left: -999px;
}
.one-check label input:checked + i {
  background-color: #000;
}
.one-check label input:checked + i:after {
  content: "";
  width: 4px;
  height: 8px;
  border-bottom: 2px solid #FFD600;
  border-right: 2px solid #FFD600;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.one-check label i {
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #FFD600;
}

.pop-form-send {
  float: left;
  width: 100%;
  text-align: center;
}
.pop-form-send button {
  border: none;
  background-color: #000;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  padding: 3px 8px;
  display: inline-block;
  cursor: pointer;
}

.thank {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/*

  {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -4px;
	border: none;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
	*/
/*# sourceMappingURL=style.css.map */